{% set path =  request.path.strip('/') %}{#

#}{% if path == 'robots.txt' %}{#
#}{{ set_content_type('text/plain') }}{#

#}User-agent: *
Disallow: /t/*
Disallow: /feed{#

#}{% else %}
{% extends 'base.html' %}

{% block title %}
Error 404 - File Not Found!!!
{% endblock %}

{% block main %}
{% set author = site.configs['author'] or site.configs['title'] %}
{% set location = site.configs['title'] %}
{% set path = request.path.split('/')[1:] %}
{% set dir = '/'.join(path[:-1]) if path|length > 1 %}

<div class="error_404" contenteditable>
{{ author }}@{{ location }}:~/{{ dir }}$ git status<br/>
#&nbsp;On branch master<br/>
#&nbsp;Changes not staged for commit:<br/>
#&nbsp;&nbsp;&nbsp;(use "git add/rm &lt;file&gt;..." to update what will be committed)<br/>
#&nbsp;&nbsp;&nbsp;(use "git checkout -- &lt;file&gt;..." to discard changes in working directory)<br/>
#<br/>
#&nbsp;&nbsp;&nbsp;deleted:    {{ path[-1] }}<br/>
#<br/>
no changes added to commit (use "git add" and/or "git commit -a")<br/>
{{ author }}@{{ location }}:~/{{ dir }}$ <a href="/" class="n">cd /</a>
</div>

<hr/>

<p class="center"><a href="/archive">( Or Archive Page? )</a></p>
{% endblock %}

{% endif %}
