extends base

block title
    | 404

block content
    p 啊噢，你到达了一个未知区域。

    hr

    p 不过你可以选择：

    ul
        li
            a(href="/") 返回地球
        li
            a(href="/archive") 查看所有已知区域
        //-
            li
                a(href="/search") 搜索附近星球
