extends base

{% from 'cache_macros' import cache_render_pager %}

block title
    | 归档

block title_h1

block content
    article
        posts = get_data(type='post', status=['public', 'sercet'], limit=100)

        header
            h1 归档

            p.info
                from = posts[-1].date.format("%b %d %Y")
                to = posts[0].date.format("%b %d %Y")
                | /* from {{ from }} to {{ to }} */

        ul
            for post in posts
                li
                    {{ post.date.format("%Y-%m-%d") }}
                    a(href="{{ post.url }}")= post.title

    +cache_render_pager(pager)
