extends base

block title
	| Archive · {{ site.title }}

block main
	article
	    h1 Archive · {{ site.title }}

	    ul
		    for post in get_data(type='post')
		       	li
		            p= post.date.format("%Y-%m-%d") + " · "
		            	a(href="{{ post.url }}")= post.title