extends base

block title
	| 归档

block content
	div
	    h1 归档 · {{ site.title }}

	    ul
		    for post in get_data(type='post', status=['public', 'sercet'])
		       	li
		            post.date.format("%Y-%m-%d")
		            a(href="{{ post.url }}")= post.title
