doctype html

{% from 'cache_macros' import cache_render_nav, cache_render_footer %}

html
    head
        title
            block title
            | · {{ site.title }}

        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="author", content="{{ site.configs.author or site.title }}")

        load("/t/global.scss /t/layout.scss /t/pygments_style.scss")

        block meta

        if site.configs.black_mode == True
            load('/t/black.scss')

        if site.configs.noindex == True
            meta(name="robots", content="noindex")

    body
        div#main-container
            header#site-header
                block title_h1
                    h1#site-title
                        a(href="/")= site.title
                block title_p
                    p#site-title
                        a(href="/")= site.title
                //- h1 应使用到单页中最需要突出的地方
                //- 比如在文章页就应该使用到文章标题

                if site.content
                    site.content

                +cache_render_nav()

            block content

            +cache_render_footer()
