doctype html

html
    head
        title
            block title
                site.title

        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="author", content="{{ site.configs.author or site.title }}")

        load("/t/main.scss /t/base.scss /t/pygments_style.scss")

        block meta
        //- 一个空 block

        if site.configs.google_site_verification
            meta(name="google-site-verification", content="{{ site.configs.google_site_verification }}")
        if site.configs.baidu_site_verification
            meta(name="baidu-site-verification", content="{{ site.configs.baidu_site_verification }}")

    body
        section#main
            section#header
                h1#title
                    a.n(href="//{{ site.domain }}")= site.title
                if site.raw_content
                    p#description= site.raw_content

            section#content
                block main

                block paginator
                    if paginator.has_pre or paginator.has_next
                        div#paginator
                            if paginator.has_previous
                                a.paginator.paginatorPrev.n(href="{{ paginator.previous_page_url }}", title="Previous", rel="prev")= "&lt;&lt;--"
                            if paginator.has_next
                                a.paginator.paginatorNext.n(href="{{ paginator.next_page_url }}", title="Next", rel="next")= "--&gt;&gt;"

            section#footer
                div.center
                    footer = get_doc('footer.md') or get_doc('footer.txt')
                    if not footer
                        a(href="https://github.com/oyiadin/reos") Theme By Oyiadin
                        | · 
                        a(href="/template") Clone template
                        | · 
                        a(href="//farbox.com") Powered By FarBox.com
                    else
                        {{ footer.content.plain }}

                <!--scripts_for_doc-->
                <!--scripts_per_page-->

                block footer
