extends base

{% from 'cache_macros' import cache_render_pager %}

block meta
    if site.configs.google_site_verification
        meta(name="google-site-verification", content="{{ site.configs.google_site_verification }}")
    if site.configs.baidu_site_verification
        <meta name="baidu-site-verification" content="{{ site.configs.baidu_site_verification }}" />
        //- 死百度，后面差个空格和结束标记就不给过的……

block title
    | 主页

block title_p

block content
    for post in get_data(type='post', status=['public', 'secret'])
        article
            header
                h2
                    a(href="{{ post.url }}")
                        if not post.metadata.password
                            post.title
                        else
                            | 密码保护：{{ post.title }}

                p.info= post.date.format("/* %b %d, %Y */")

            if not post.metadata.password
                div= post.content.limit(120)
            else
                include include/password_form

        hr

    +cache_render_pager(pager)
