extends base

block title
    | 主页

block title_p

block content
    for post in get_data(type='post', status=['public', 'secret'])
        article
            header
                h2
                    a(href="{{ post.url }}")
                        if not post.metadata.password
                            post.title
                        else
                            | 密码保护：{{ post.title }}

                p.info= post.date.format("/* %b %d, %Y */")

            if not post.metadata.password
                div= post.content.limit(120)
            else
                include include/password_form

        hr

    include include/pager