#main-container {
    max-width: 700px;
    width: 90%;
    margin: 0 auto;
    padding: 0 5%;
}
header, #paginator, #site-footer {
    text-align: center;
}
#paginator {
	padding-botoom: 0.2em;
}
#site-title {
	margin: 1.2em 0;
}