@import "vars";

body {
    margin:0;
    padding:0;
    font-family:'Segoe UI Light','Segoe UI','Segoe UI WP','Microsoft Jhenghei','微软雅黑',sans-serif,Times;
    line-height:1.8em;
    color:#333;
    background-color:#F8F8F8;
    font-size:1em;
}
a {
    color:#333;
    -webkit-transition-duration:.12s;
    -webkit-transition-timing-function:ease-in;
    -webkit-transition-property:color;
}
a:hover {
    color:#3AA;
}
h1 {
    font-size:50px;

    a {
        color:black;
    }

    a:hover {
        color:gray;
    }
}
article h1 a {
    text-decoration:none;
}
@media screen and (max-width:700px) {
    h1 {font-size:40px !important;}
    h2 {font-size:32px !important;}
    h3 {font-size:26px !important;}
    h4 {font-size:23px !important;}
    h5 {font-size:21px !important;}
    h6 {font-size:19px !important;}
}
@media screen and (max-width:500px) {
    h1 {font-size:35px !important;}
    h2 {font-size:30px !important;}
    h3 {font-size:26px !important;}
    h4 {font-size:23px !important;}
    h5 {font-size:21px !important;}
    h6 {font-size:19px !important;}
}
@media screen and (max-width:400px) {
    h1 {font-size:30px !important;}
    h2 {font-size:26px !important;}
    h3 {font-size:23px !important;}
    h4 {font-size:21px !important;}
    h5 {font-size:20px !important;}
    h6 {font-size:18px !important;}
}
@media screen and (max-width:350px) {
    h1, h2, h3, h4, h5, h6 {font-size:1.5em !important;}
}
h1 {
    font-size:50px;
}
h2 {
    font-size:40px;
}
h3 {
    font-size:32px;
}
h4 {
    font-size:26px;
}
h5 {
    font-size:22px;
}
h6 {
    font-size:20px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight:bold;
    color:black;
    line-height:2;
    margin:0;
    padding:0;
}
input {
    line-height:2em;
}
input[type=text] {
    border:0;
    border-bottom:1px solid gray;
    background-color:#F8F8F8;
    outline:0;
    padding:0;
}
input[type=text]:hover {
    border-bottom:1px solid #08C;
}
input[type=text]:focus {
    border-bottom:1px solid #3AA;
}
input[type=submit], button {
    cursor:pointer;
    color:white;
    background-color:#333;
    padding:0;
    border:0;
}
input[type=submit]:hover, button:hover {
    background-color:#08C;
}
input[type=submit]:active, button:active {
    color:#333;
    background-color:#3AA;
}
img {
    max-width:100%;
    display:block;
    margin:0 auto;
    line-height:3em;
}
blockquote, div.codehilite {
    background-color:#F0F0F0;
    margin:0;
    padding:1em 1.5em;
}
pre {
    max-width:100%;
    overflow:auto;
    font-family:'Segoe UI Light','Segoe UI','Segoe UI WP','Microsoft Jhenghei','微软雅黑',sans-serif,Times;
    word-break:initial;
    margin:5px 0;
}
pre br {
    display:none;
}
div.codehilite, pre {
    line-height:1.5;
}
hr {
    margin-top:1em;
    margin-bottom:1em;
    border:0;
    text-align:center;
    color:gray;
}
hr:after {
    content: "* * *";
}
table {
    border-spacing:0;
    padding:0;
    margin:0.5em 0;
    border-right:1px solid gray;
    border-bottom:1px solid gray;
    font-size:16px;

    caption {
        padding:5px 0;
        font-weight:bold;
    }

    td, th {
        border-top:1px solid gray;
        border-left:1px solid gray;
        margin:0;
        padding:0.5em;
        text-align:left;
    }
}
ul {
    list-style-type:square;
}
textarea {
    border:1px solid gray;
    display:block;
    width:98%;
    padding:5px;
    line-height:1.5em;
    margin:0.5em auto 0.8em;
}
article {
    word-break:break-all;
}
::selection {
    color:white;
    background-color:gray;
}



.toc {
    background-color:#F0F0F0;
    padding:1em 1.5em;
}
.eof {
    display:block;
    line-height:3em;
    margin-top:1em;
    margin-bottom:1em;
    text-align:center;
    cursor:help;
}
.eof:hover {
    background-color:gray;
    color:white;
}
.s {
    font-size:15px;
}
.g {
    color:gray;
}
.n {
    text-decoration:none;
}
.center {
    text-align:center;
}
.right {
    text-align:right;
}
