extends base

block title
    post.title

block meta
    if post.tags
        meta(name="keywords", content="{{ ','.join(post.tags[:6]) }}")

    if site.configs.enable_twitter_cards
        meta(name="twitter:card", content="summary")
        meta(name="twitter:title", content="{{ post.title }}")
        meta(name="twitter:description", content="
            {% if not post.metadata.password %}
            {{ ( post.content[:] | replace('\n', '') )[0:202] }}
            {% else %}访问该文章需要密码验证。
            {% endif %}")
        //- post.content[:] 这个比较无奈（也因为我的需求比较奇葩……）
        //- 因为此处的换行会被 Twitter Cards 过滤，所以最后字数其实是不准的。

        //- Twitter Cards 对内容的限制是 200 字
        //- 取 202 只是为了让 Twiiter 自己处理内容溢出的效果。

        if site.configs.twitter
            meta(name="twitter:creator", content="{{ site.configs.twitter }}")

        //
            if post.cover
                meta(name="twitter:image:src", content="{{ post.cover }}")

block title_in_body
    p
        a(href="/")= site.title
    //- 在文章页内，h1 应使用到文章标题。

block content
    article
        header#header
            h1#title
                a(href="#title")
                    if not post.metadata.password
                        post.title
                    else
                        | 密码保护：{{ post.title }}
                    

            p#date= post.date.format("%b %d, %Y %H:%M (%a)")

        div#content
            if not post.metadata.password or request.form.password|string == post.metadata.password|string
                post.content

            else
                include include/password_form

                if request.form.password|string
                    p
                        strong 输入错误，请重试。

        footer#footer
            p#eof(title="End Of File") · EOF ·

            p
                | 该文发表于 {{ post.date }}

                if post.tags
                    | ，被贴了
                    for tag in post.tags
                        a(href="/tag/{{ tag }}")= tag
                        | 、
                    | 标签

                | ，被阅读了约 {{ post.visits }} 次。

        include include/comments

        // scripts_for_doc
