extends base
from macro import comment, render_password_block

block title
    post.title + " · " + site.title

block meta
    meta(name="keywords", content="{{ ','.join(post.tags[:6]) }}")

    if site.configs['enable_twitter_cards'] == True
        meta(name="twitter:card", content="summary")
        meta(name="twitter:title", content="{{ post.title }}")
        meta(name="twitter:description", content="
            {% if not post.metadata['password'] %}
            {{ post.content.limit(200) }}
            {% else %}访问该文章需要密码验证。{% endif %}")

        if site.configs['twitter']
            meta(name="twitter:creator", content="{{ site.configs['twitter'] }}")

        if post.cover
            meta(name="twitter:image:src", content="{{ post.cover }}")

    style.
        input[type=submit] {
            padding:0.2em;
        }

block main
    article
        h1#postTitle
            a(href="#postTitle")= post.title

        p.info#postInfo= post.date.format("%b %d, %Y %H:%M (%a)") + " · "
            span#tags
                for tag in post.tags
                    a.n.g(href="/tags/{{ tag }}")= tag
                    | ·
            span#views
                {{ post.visits }}
                |  views

        div#postContent
            if not post.metadata['password']
                post.content

            else
                if request.form['password']|string == post.metadata['password']|string
                    post.content

                else
                    if request.form['password']|string
                        p 密码错误，请重试。

                +render_password_block()

        div.eof.g.s(title="End Of File")
            | · EOF ·

        +comment(post)