extends base

if path1 == 'tags' and path2
    +redirect('/tag/' + path2)
elif path1 == 'tag' and (not path2 or path2 == '/')
    +redirect('/tags')

block title_h1

block title
    if tags
        | {{ ','.join(tags) }}
    else
        | 标签云

block content
    article
        tags_count = site.tags|length

        if tags_count == 0
            p.info 本站点的文章没有被打过标签哦~

        elif tags and posts
            header
                h1 标签 · {{ ', '.join(tags) }}

            ul
                for post in get_data(type="post", tags=tags)
                    li
                        p
                            {{ post.date.format("%b %d, %Y (%a)") }}
                            |  · 
                            a(href="{{ post.url }}")= post.title

        else
            header
                h1 标签云

                p.info
                    if tags_count > 1
                        | /* {{ tags_count }} tags */
                    else
                        | /* just one tag ;-) */

            ul
                for tag_name, tag_count in site.tags
                    li
                        | ({{ tag_count }} 篇文章)
                        a(href="/tag/{{ tag_name }}")= tag_name
