form(method="post", action="{{ post.url }}")
    p
        | 这是一篇受密码保护的文章，请提供
        if post.metadata.question
            | 问题的答案
        else
            | 密码
        | 以继续查看。

    label(for="password")
        {{ post.metadata.question or "密码：" }}
    input#password(name="password")
    //- 如果设置 type=password 的话，无法输入中文。
    input(type="submit", value="提交")
