@import "vars";

#main {
	max-width:760px;
	width:100%;
	margin:0 auto;
	padding:3px 0;
}
#header {
	padding:50px 0;
}

#title {
	line-height:1em;
	margin-bottom:0.2em;

    a {
	    color:black;
    }

    a:hover {
	    color:gray;
    }
}
#description {
	font-size:16px;
	color:gray;
	margin:0;
	line-height:1em;
}
.info {
	font-size:16px;
	color:gray;
	text-align:right;
	margin:0 0 3px;
	line-height:1em;
}
div#paginator {
	overflow:hidden;
}
.paginator {
	display:inline-block;
	height:40px;
	line-height:40px;
	width:50%;
	text-align:center;
}
.paginator.paginatorPrev {
	float:left;
}
.paginator.paginatorNext {
	float:right;
}
.paginator:hover {
	background-color:gray;
	color:white;
}
#footer {
    a {
	    text-decoration:none;
	    color:gray;
    }

    a:hover {
	    color:#3AA;
    }
}
#disqus_thread {
    padding-top:1.2em;
}
.ds-thread {
    padding-top:0.1em;
}
