/*****************
 * Fork form pygments.
*****************/
pre {
    .hll { background-color:#ffc; }
    .c { color:#333; } /* Comment */
    .err { color:#a61717; background-color:#e3d2d2; } /* Error */
    .g { color:#388; } /* Generic */
    .k { color:#6ab825; font-weight:bold } /* Keyword */
    .l { color:#08c; } /* Literal */
    .n { color:#08c; font-weight:bold; } /* Name */
    .o { color:#08c; font-weight:bold; } /* Operator */
    .x { color:#08c } /* Other */
    .p { color:#08c } /* Punctuation */
    .cm { color:#999999; font-style:italic } /* Comment.Multiline */
    .cp { color:#cd2828; font-weight:bold } /* Comment.proc */
    .c1 { color:#999999; font-style:italic } /* Comment.Single */
    .cs { color:#e50808; font-weight:bold; background-color:#520000 } /* Comment.Special */
    .gd { color:#d22323 } /* Generic.Deleted */
    .ge { color:#388; font-style:italic } /* Generic.Emph */
    .gr { color:#d22323 } /* Generic.Error */
    .gh { color:#366; font-weight:bold } /* Generic.Heading */
    .gi { color:#589819 } /* Generic.Inserted */
    .go { color:#5AA } /* Generic.Output */
    .gp { color:#aaaaaa } /* Generic.Prompt */
    .gs { color:#355; font-weight:bold } /* Generic.Strong */
    .gu { color:#366; text-decoration:underline } /* Generic.Subheading */
    .gt { color:#d22323 } /* Generic.Traceback */
    .kc { color:#6ab825; font-weight:bold } /* Keyword.Constant */
    .kd { color:#6ab825; font-weight:bold } /* Keyword.Declaration */
    .kn { color:#6ab825; font-weight:bold } /* Keyword.Namespace */
    .kp { color:#6ab825 } /* Keyword.Pseudo */
    .kr { color:#6ab825; font-weight:bold } /* Keyword.Reserved */
    .kt { color:#6ab825; font-weight:bold } /* Keyword.Type */
    .ld { color:#38c } /* Literal.Date */
    .m { color:#3677a9 } /* Literal.Number */
    .s { color:#ed9d13 } /* Literal.String */
    .na { color:#aaa } /* Name.Attribute */
    .nb { color:#24909d } /* Name.Builtin */
    .nc { color:#447fcf; text-decoration:underline } /* Name.Class */
    .no { color:#3aa } /* Name.Constant */
    .nd { color:#ffa500 } /* Name.Decorator */
    .ni { color:#a0a0a0 } /* Name.Entity */
    .ne { color:#bbbbbb } /* Name.Exception */
    .nf { color:#447fcf } /* Name.Function */
    .nl { color:#a0a0a0 } /* Name.Label */
    .nn { color:#447fcf; text-decoration:underline } /* Name.Namespace */
    .nx { color:#a0a0a0 } /* Name.Other */
    .py { color:#a0a0a0 } /* Name.Property */
    .nt { color:#6ab825; font-weight:bold } /* Name.Tag */
    .nv { color:#3AA } /* Name.Variable */
    .ow { color:#6ab825; font-weight:bold } /* Operator.Word */
    .w { color:#666666 } /* Text.Whitespace */
    .mf { color:#3677a9 } /* Literal.Number.Float */
    .mh { color:#3677a9 } /* Literal.Number.Hex */
    .mi { color:#3677a9 } /* Literal.Number.Integer */
    .mo { color:#3677a9 } /* Literal.Number.Oct */
    .sb { color:#ed9d13 } /* Literal.String.Backtick */
    .sc { color:#ed9d13 } /* Literal.String.Char */
    .sd { color:#ed9d13 } /* Literal.String.Doc */
    .s2 { color:#ed9d13 } /* Literal.String.Double */
    .se { color:#ed9d13 } /* Literal.String.Escape */
    .sh { color:#ed9d13 } /* Literal.String.Heredoc */
    .si { color:#ed9d13 } /* Literal.String.Interpol */
    .sx { color:#ffa500 } /* Literal.String.Other */
    .sr { color:#ed9d13 } /* Literal.String.Regex */
    .s1 { color:#ed9d13 } /* Literal.String.Single */
    .ss { color:#ed9d13 } /* Literal.String.Symbol */
    .bp { color:#24909d } /* Name.Builtin.Pseudo */
    .vc { color:#3AA } /* Name.Variable.Class */
    .vg { color:#3AA } /* Name.Variable.Global */
    .vi { color:#3AA } /* Name.Variable.Ins */
    .il { color:#3677a9 } /* Literal.Number.Integer.Long */
}
