<!DOCTYPE html>
<head>
    <title>{% block title %}{{ site.title }}{% endblock %}</title>
    <meta charset="utf-8" />
    {% for _file in ['main.css', 'base.css', 'pygments_style.css'] %}
    {% if site.configs['cdn_path'] %}
    <link rel="stylesheet" href="{{ site.configs['cdn_path'] }}/{{ _file }}" />
    {% else %}
    <link rel="stylesheet" href="/t/{{ _file }}" />
    {% endif %}
    {% endfor %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <section id="main">
        <section id="header">
            <h1 id="title"><a href="http://{{ site.domain }}" class="n">{{ site.title }}</a></h1>
            {% if site.raw_content %}<p id="description">{{ site.raw_content }}</p>{% endif %}
        </section>
        <section id="content">
            {% block main %}{% endblock %}
        </section>
        <section id="footer">
            <p class="center sg"><a href="https://github.com/oyiadin/reos">Theme By Oyiadin</a> · <a href="/template">Clone template</a> · <a href="http://farbox.com">Powered By FarBox.com</a></p>
        </section>
        {% set custom_js = get_doc('custom_js.md', 'post') or get_doc('custom_js.txt', 'post') %}
        {% if custom_js %}{{ custom_js.raw_content }}{% endif %}
    </section>
</body>

