<!DOCTYPE html>
<head>
    <title>{% block title %}{{ site.title }}{% endblock %}</title>
    <meta charset="utf-8" />
    {% for _file in ['main.css', 'base.css', 'pygments_style.css'] %}
    {% if site.configs['static_path'] %}
    <link rel="stylesheet" href="{{ site.configs['static_path'] }}/{{ _file }}" />
    {% else %}
    <link rel="stylesheet" href="/t/{{ _file }}" />
    {% endif %}
    {% endfor %}
    <link rel="alternate" type="application/rss+xml" href="/feed" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="
        {% if site.configs['author'] %}
        {{ site.configs['author'] }}
        {% else %}
        {{ site.title }}
        {% endif %}
        " />
    {% block meta %}
    <meta name="description" content="{{ site.raw_content }}" />
    <meta name="keywords" content="{{ site.title }}
        {% for tag in site.tags[:4] %}
        ,{{ tag[0] }}
        {% endfor %}" />
    {% endblock %}
    {% if site.configs['google_site_verification'] %}
    <meta name="google-site-verification" content="{{ site.configs['google_site_verification'] }}" />
    {% endif %}
    {% if site.configs['baidu_site_verification'] %}
    <meta name="baidu-site-verification" content="{{ site.configs['baidu_site_verification'] }}" />
    {% endif %}
</head>
<body>
    <section id="main">
        <section id="header">
            <h1 id="title"><a href="http://{{ site.domain }}" class="n">{{ site.title }}</a></h1>
            {% if site.raw_content %}<p id="description">{{ site.raw_content }}</p>{% endif %}
        </section>
        <section id="content">
            {% block main %}{% endblock %}
            {% block pageinator %}
            {% set paginator = get_paginator(0) %}
            {% if paginator.has_previous or paginator.has_next %}
            <div id="paginator">
                {% if paginator.has_previous %}
                <a class="paginator paginatorPrev n" href="{{ paginator.previous_page_url }}" title="Previous" rel="prev">&lt;--</a>
                {% endif %}
                {% if paginator.has_next %}
                <a class="paginator paginatorNext n" href="{{ paginator.next_page_url }}" title="Next" rel="next">--&gt;</a>
                {% endif %}
            </div>
            {% endif %}
            {% endblock %}
        </section>
        <section id="footer">
            <p class="center">
                {% set footer =  get_doc('footer.md', 'post') or get_doc('footer.txt', 'post') %}
                {% if not footer %}
                <a href="https://github.com/oyiadin/reos">Theme By Oyiadin</a> · 
                <a href="/template">Clone template</a> · 
                <a href="http://farbox.com">Powered By FarBox.com</a>
                {% else %}
                {{ footer.raw_content }}
                {% endif %}
            </p>
            {% set custom_js = get_doc('custom_js.md', 'post') or get_doc('custom_js.txt', 'post') %}

            {% if custom_js %}
            {{ custom_js.raw_content }}
            {% endif %}

            {% block footer %}{% endblock %}
        </section>
    </section>
</body>
