<?xml version="1.0" encoding="utf-8"?>{#}
#}{{ set_content_type('application/xml') }}{#
#}{% from 'macro.html' import render_password_block %}{#
#}{#没办法，我对这些特殊文件的输出有洁癖...
#}
<feed xmlns="http://www.w3.org/2005/Atom">
	<title>{{ site.title }}</title>{#
	#}{% if site.raw_content %}
	<subtitle>{{ site.raw_content }}</subtitle>{#
	#}{% endif %}
	<link href="http://{{ site.domain }}" />
	<link rel="self" href="http://{{ site.domain }}/feed" />
	<id>{{ site.domain }}</id>{#
	#}{% if posts %}
	<updated>{{ posts[0].date | date("%Y-%m-%dT%H:%M:%SZ") }}</updated>{#}
	#}{% endif %}
	{% for post in posts %}
	<entry>
		<title>{{ post.title }}</title>
		<link href="http://{{ site.domain }}{{ post.url }}" rel="alternate" />{# post.url开头包含“/” #}
		<updated>{{ post.date | date("%Y-%m-%dT%H:%M:%SZ") }}</updated>
		<id>{{ post.url_path }}</id>
		<author>
			<name>{#
				#}{% if site.configs['author'] %}{#
				#}{{ site.configs['author'] }}{#
				#}{% else %}{#
				#}{{ site.title }}{#
				#}{% endif %}</name>
		</author>
		<summary type="html">{#
			#}{% if not post.metadata['password'] %}{#
			#}{{ post.content | escape }}{#
			#}{% else %}{#
			#}{{ render_password_block(no_form=True) }}{#
			#}{% endif %}</summary>
	</entry>
	{% endfor %}
</feed>