{% macro link(file, rel) %}

{% if site.configs['cdn_path'] %}
<link rel="{{ rel }}" href="{{ site.configs['cdn_path'] }}/{{ file }}" />
{% else %}
<link rel="{{ rel }}" href="/t/{{ file }}" />
{% endif %}

{% endmacro %}



{% macro comment() %}

<!-- Comment Begin -->
{% if site.configs['disqus'] %}
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = '{{ site.configs["disqus"] }}'; // required: replace example with your forum shortname
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

{% elif site.configs['duoshuo'] %}
<div class="ds-thread"></div>
<script type="text/javascript">
    var duoshuoQuery = {short_name:"{{ site.configs['duoshuo'] }}"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = 'http://static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] 
        || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>

{% else %}
<div id="comments">
    {% for comment in get_comments(post) %}
    <div class="comment">
        <span class="comment_avatar">
            <img src="http://cn.gravatar.com/avatar/{{ comment.email_md5 }}?s=80" />
        </span>
        <div class="comment_main">
            <div class="comment_info s g">
                <span class="comment_author">
                    <a href="{{ comment.site or '#' }}" class="n">
                        {% if comment.author %}<strong>{{ comment.author }}</strong>{% else %}<em>anonymous</em>{% endif %}
                    </a>
                </span>
                <span class="comment_date">{{ comment.date | date("%Y-%m-%d %H:%M:%S") }}</span>
            </div>
            <div class="comment_content">{{ comment.content }}</div>
        </div>
    </div>
    {% endfor %}
</div>

{% if comment_allowed %}

<form class="comment_new" method="post" action="#comments">
    <textarea name="content" rows=10>{{ comment_content }}</textarea?
    {% if error %}<p class="g comment_error">{{ error }}</p>{% endif %}
    <input type="text" name="author" value="Name" class="comment_new_input" />
    <input type="text" name="author" value="Email" class="comment_new_input" />
    <input type="text" name="author" value="Site" class="comment_new_input" />
    <input type="submit" value="OK" class="comment_new_send" />
</form>
{% endif %}

{% endif %}
<!-- Comment End -->

{% endmacro %}



    {% if comment_allowed %}
    <form id="fb_new_comment" method="post" action="#fb_new_comment">

        <textarea name="content">{{ comment_content }}</textarea>

        {% if error %}<span class="comment_error"> {{ error }}</span> {% endif %}

        <div class="input_body">
            <ul>
                <li>
                    <label>称呼:</label>
                    <input type="text" name="author" id="c_author">
                </li>
                <li>
                    <label>邮箱:</label>
                    <input type="text" name="email" id="c_email">
                </li>
                <li>
                    <label>网站:</label>
                    <input type="text" name="site" id="c_site">
                </li>
                <li>
                    <input type="submit" value="发表评论" class="c_button" id="c_submit"/>
                </li>

            </ul>

        </div>

    </form>

    <script src="http://resource.farbox.com/swfstore/swfstore.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="http://resource.farbox.com/css/comment.css?version={{ resource_version }}">

    <script type="text/javascript">

        var c_submit = document.getElementById('c_submit');
        var c_author = document.getElementById('c_author');
        var c_email = document.getElementById('c_email');
        var c_site = document.getElementById('c_site');

        c_submit.onclick = function(){
            info_store.set('name', c_author.value);
            info_store.set('email', c_email.value);
            info_store.set('site', c_site.value);
        };
        var info_store = new SwfStore({
            namespace: 'farbox',
            swf_url: 'http://resource.farbox.com/swfstore/storage.swf',
            debug: true,
            onready: function(){
                c_author.value = info_store.get('name') || '';
                c_email.value = info_store.get('email') || '';
                c_site.value = info_store.get('site') || '';

            },
            onerror: function(){
            }
        });

    </script>

    {% endif %}

</div>


{% endif %}









