{% extends 'base.html' %}
{% from 'macro.html' import comment %}

{% block title %}
{{ post.title }} · {{ site.title }}
{% endblock %}

{% block main %}
<article>
    <h1 id="postTitle"><a href="#postTitle">{{ post.title }}</a></h1>
    <p id="postInfo" class="info">{% if post.metadata['date'] %}{{ post.metadata['date'] }}{% else %}{{ post.date }}{% endif %}{% for tag in post.tags %} · <a href="/tags/{{ tag }}" class="n g">{{ tag }}</a>{% endfor %} · {{ post.visits }} views</p>
    <div id="postContent">{{ post.content }}</div>
    <span class="eof" class="g s" title="End Of File">· EOF ·</span>
    {{ comment() }}
</article>
{% endblock %}
