{% if not post %}

{% include '404.html' %}

{% else %}

{% extends 'base.html' %}
{% from 'macro.html' import comment, render_password_block %}

{% block title %}
{{ post.title }} · {{ site.title }}
{% endblock %}

{% block meta %}

<meta name="description" content="
    {% if not post.metadata['password'] %}
    {% set splited = html_to_text(post.content).split('。') }
    {% set content = '。'.join(splited[:5]) %}

    {% if splited|length > 5 %}
    。
    {# 防止句末缺了萌萌的句号=。= #}
    {% endif %}

    {{ content[:202] }}

    {% if content|length > 202 %}
    ...
    {% endif %}

    {# 取文章前五句话，以句号为界；且最多 202 字。 #}

    {% else %}
    访问该文章需要密码。

    {% endif %}" />
<meta name="keywords" content="
    {{ ','.join(post.tags[:6]) }}" />

{% if site.configs['enable_twitter_cards'] == True %}

<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{ post.title }}" />
<meta name="twitter:description" content="
    {% if not post.metadata['password'] %}
    {{ html_to_text(post.content)[:202] }}
    {# 这样的返回值比post.raw_content优雅很多~ ^-^ #}
    {% else %}
    访问该文章需要密码。
    {% endif %}" />

{% if site.configs['twitter'] %}
<meta name="twitter:creator" content="{{ site.configs['twitter'] }}" />
{% endif %}

{% if post.cover %}
<meta name="twitter:image:src" content="{{ post.cover }}" />
{% endif %}

{% endif %}

<style>
input[type=submit] {
    padding:0.2em;
}
</style>

{% endblock %}

{% block main %}
<article>
    <h1 id="postTitle"><a href="#postTitle">{{ post.title }}</a></h1>
    <p id="postInfo" class="info">
        {{ post.date | date("%b %d, %Y %H:%M (%a)") }}
        <span id="tags">
            {% for tag in post.tags %} · <a href="/tags/{{ tag }}" class="n g">{{ tag }}</a>{% endfor %} · 
        </span>
        <span id="views">
            {{ post.visits }} views
        </span>
    </p>
    <div id="postContent">
        {% if not post.metadata['password'] %}
        {{ post.content }}

        {% else %}

        {% if request.form['password']|string == post.metadata['password']|string %}
        {{ post.content }}

        {% else %}

        {% if request.form['password']|string %}
        <p>密码错误，请重试。</p>
        {% endif %}

        {{ render_password_block() }}

        {% endif %}

        {% endif %}
    </div>
    <div class="eof" class="g s" title="End Of File">· EOF ·</div>
    {{ comment() }}
</article>
{% endblock %}

{% endif %}
